body {
    margin: 60px auto;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 1.1em;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: underline;
    color: #999;
}
a:hover {
    text-decoration: none;
}



h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h2 {
    font-size: 2em;
    color: #333;
}

h4 {
    font-size: 1.5em;
}
p {
    font-family: 'Open Sans', sans-serif;
    line-height: 2;
    
}
footer {
    font-size: .7em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    font-size: 1.5em;
}

li {
    line-height: 1.4em;
    padding-bottom: 5px;
}

li.right { 
    float:right; 
}

blockquote {
    border-left: 3px solid #eee;
    color: #666;
    font-style: italic;
    margin-left: 0;
    padding-left: 1em;
}


textarea {
    width:730px;
    height:170px;
    
}

.optin {
  background-color:#efefef;
  padding: 15px;
  border-radius: 3px;
  text-align: center;
}
