body {
    line-height: 2;
    margin: 0 auto;
    max-width: 40em;
    padding: 1em 1em 10em 1em;
    text-align: left;
    font-family: sans-serif;
    color: #333;
    font-size: 16px;
   
}

nav {
	padding: 20px 20px 0;
	width:100%;
	text-align: right;
}

a {
    text-decoration: underline;
    
}

a:hover {
    text-decoration: none;
}


h1 {
    font-size: 3em;
   
}

h2 {
    font-size: 2em;
    color: #333;
}

h1, h2 {
    line-height: 1.5;
}


h4 {
    font-size: 1.5em;
}

li {
    line-height: 2;
    padding-bottom: 5px;
}

img {
   max-width: 100%;	
}

footer {
    
    margin-top: 60px;
    font-size: .7em;
}

footer ul {
    padding: 0px;
    list-style: none;
}

footer ul li {
    display: inline;
    margin-right: 10px;
}

blockquote {
    border-left: 3px solid #eee;
    color: #666;
    font-style: italic;
    margin-left: 0;
    padding-left: 1em;
}


textarea {
    width:730px;
    height:170px;
    
}

.optin {
  background-color:#efefef;
  padding: 15px;
  border-radius: 3px;
  text-align: center;
}

.author {
  font-size: .8em;
  margin-top: -15px;
  color: #B1B1B1;
	
}
