<!DOCTYPE html>
<html>
	<head>
		
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="icon" href="https://dl.dropboxusercontent.com/s/kmft5k0nmi70i7v/favicon.ico?dl=0">
		
                
                <script src="//load.sumome.com/" data-sumo-site-id="6ae087df466895583f850588aed03d21a86625a8abe1946383c26a0d2310a309" async="async"></script>
	
	</head>
	<body>
		
		<!-- Google Tag Manager -->
                  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TXVQ3K"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                  })(window,document,'script','dataLayer','GTM-TXVQ3K');</script>
                <!-- End Google Tag Manager -->
		
		<nav>
    		<ul>
        
    		</ul>
		</nav>
		<div class="container">
		
    		{{ content }}
    		
		</div><!-- /.container -->
		<footer>
			<ul>
				<li> © 2016 EW LLC. </li>
				<li> <a href="http://www.emilsw.com/articles/">Articles</a> </li>
				<li> <a href="http://www.emilsw.com/">Work with me</a></li>
				<li> <a href="mailto:emils.veveris@gmail.com">Contact</a></li>
				<li> Follow me on <a href="https://twitter.com/emils_w">Twitter</a> </li>
			
			</ul>
			
			 

		</footer>
	</body>
</html>
