<!DOCTYPE html>
<html>
	<head>
		
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="icon" href="/images/favicon.ico">
		<meta name="description" content="Emils Veveris is a certified CRO consultant and strategist. He helps companies grow online profits using UX research, digital analytics, and A/B testing.">
                <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.3.min.js"></script>
                
               
	
	</head>
	<body>
		
		<!-- Google Tag Manager -->
                  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TXVQ3K"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
                  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                  })(window,document,'script','dataLayer','GTM-TXVQ3K');</script>
                <!-- End Google Tag Manager -->
		
		
		<div class="container">
		
    		{{ content }}
    		
		</div><!-- /.container -->
		<footer>
			<ul>
				<li> © 2020 EW inc. </li>
				<li> Say Hi: </a></li>
				<li> <a href="mailto:emils.veveris@gmail.com">Email</a></li>
		                <li> <a href="https://www.linkedin.com/in/emilsveveris/">Linkedin</a> </li>
				<li> <a href="https://twitter.com/emils_w">Twitter</a> </li>
			        <li> <a href="https://www.instagram.com/emils_w/">Instagram</a></li>

		</footer>
	</body>
</html>
